<div class="col-md-2">

</div>
<div class="col-md-5 main">
<p id="notice"><%= notice %></p>
<div class="row">

  <div class="col-lg-6">
    <h1 class="page-header">Cadastrar</h1>
  </div>
</div><!--/.row-->

<%= render 'form', team: @team %>
<br>
<%= link_to 'Back', teams_path %>
</div>
